<xf:title>{{ phrase('confirm_action') }}</xf:title>

<xf:form action="{{ link('users/disassociate-sqrl', $user) }}" ajax="true" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:inforow rowtype="confirm">
				{{ phrase('please_confirm_that_you_want_to_disassociate_sqrl_for:') }}
				<strong><a href="{{ link('users/edit', $user) }}">{$user.username}</a></strong>
				<xf:if is="{{ $user.isSqrlHardlocked() }}">
					<div class="blockMessage blockMessage--error blockMessage--iconic"><b>{{ phrase('note:') }}</b> {{ phrase('warning_user_used_sqrl_to_request_no_account_recovery') }}</div>
				</xf:if>
			</xf:inforow>
			<xf:comment>
			<xf:if is="$user.is_super_admin">
				<xf:passwordboxrow name="visitor_password"
					label="{{ phrase('your_password') }}"
					explain="{{ phrase('you_must_enter_your_current_password_to_validate_this_request') }}" />
			</xf:if>
			</xf:comment>
		</div>
		<xf:submitrow icon="delete" />
	</div>
	<xf:redirect />
</xf:form>